<header>
  <div class="wrapper">
    <h1>Housing Form</h1>
    <ul class="navs">
      <li>
        <button
          class="btn btn-base"
          [ngClass]="{ 'btn-warning': route === 'housing-form' }"
          (click)="navigate('housing-form')"
        >
          Housing Form
        </button>
      </li>
      <li>
        <button
          class="btn btn-base"
          [ngClass]="{ 'btn-warning': route === 'display' }"
          (click)="navigate('display')"
        >
          Display
        </button>
      </li>
    </ul>
  </div>
</header>
<section>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</section>
